name: Deploy WordPress

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4            

    - name: Stop existing containers
      run: docker-compose down || true

    - name: Pull updated images
      run: docker-compose pull

    - name: Start updated containers
      run: docker-compose up -d

    - name: Test service health
      run: |
        sleep 10
        curl -I http://localhost:2000 || exit 1
